out/AnalyzePurchasableAugs.js
out/BestServer.js
out/Bitburner.t.js
out/buyServers.js
out/DCLoopWeaken.js
out/FetchScripts.js
out/hhelper.js
out/hscan.js
out/infect.js
out/justLoopWeaken.js
out/Process.js
out/singularity.js
out/SM7.js
out/weakenNetwork.js
